{% extends '../base.html' %}

{% load static %}

{% block Header_about %}

<div class="header-section">
    <div class="container">
      <h1 class="display-4">Welcome to Save Your Life</h1>
      <p class="lead">Transforming lives through community engagement.</p>
      <div class="about-section mt-5">
        <h3>About Us</h3>
        <div style="background:#fff;position:absolute;right:34.8rem;bottom:15rem;width:100px;height:10px;"></div>
      </div>
    </div>
</div>

{% endblock %}

{% block welcome_about %} 

<section id="aboutUs" class="py-5">
    <div class="container">
      <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
          <h2 class="mb-3 text-black d-flex"> About Us</h2>
          <p style="font-size:22px;">
            Welcome to Save Your Life, an organization committed to the positive transformation of lives through physical, emotional, and mental well-being. Our mission is to create a significant impact by providing support to communities, protecting abandoned children, and bringing hope to those facing health challenges.
          </p>
          <p style="font-size:24px; font-weight:bold;">
            Join us in this journey to collectively forge a better future.
          </p>
          <div style="justify-content: center;text-align: center;">
            <img style="width: 340px;" src="{% static 'icons/historique.png' %}" alt="histoire-save-y-life">
          </div>
        </div>
  
        <!-- Vertical Divider -->
        <div class="col-md-1 d-none d-md-block" style="border-left: 2px solid #06C232;">
        </div>

  
        <!-- Right Column -->
        <div class="col-md-5">
          <div class="row">
            <!-- Circle 1 (Vert clair) -->
            <div class="col-3 text-center d-flex justify-content-center align-items-center">
              <div class="rounded-circle text-light text-center p-2 mb-2" style="width: 80px; height: 80px;background:#10ff10; font-weight: bold; display: flex; align-items: center; justify-content: center;">1</div>
            </div>
            <div class="col-9">
              <p class="text-black" style="font-size:19px;font-weight:bold;">Inspir</p>
              <p class="text-black" style="font-size:18px;">Ignite your passion and creativity with our inspirational programs and events.<p/>
            </div>
  
            <!-- Circle 2 (Vert simple) -->
            <div class="col-3 text-center d-flex justify-content-center align-items-center">
              <div class="rounded-circle bg-primary text-light text-center p-2 mb-2" style="width: 80px; height: 80px; font-weight: bold; display: flex; align-items: center; justify-content: center;">2</div>
            </div>
            <div class="col-9">
              <p class="text-black" style="font-size:19px;font-weight:bold;">Empower</p>
              <p class="text-black" style="font-size:18px;">Empower yourself with the tools and knowledge to shape a brighter future</p>
            </div>
  
            <!-- Vertical Divider -->
            <div class="col-12 border-left">
            </div>
  
            <!-- Circle 3 (Jaune) -->
            <div class="col-3 text-center d-flex justify-content-center align-items-center">
              <div class="rounded-circle text-light text-center p-2 mb-2" style="width: 80px; height: 80px; font-weight: bold; display: flex; align-items: center; justify-content: center;background:orange;">3</div>
            </div>
            <div class="col-9">
              <p class="text-black" style="font-size:19px;font-weight:bold;">Connect</p>
              <p class="text-black" style="font-size:18px;">Connect with like-minded individuals and build a supportive community for growth.</p>
            </div>
  
            <!-- Circle 4 (Orange) -->
            <div class="col-3 text-center d-flex justify-content-center align-items-center">
              <div class="rounded-circle bg-primary text-light text-center p-2 mb-2" style="width: 80px; height: 80px; font-weight: bold; display: flex; align-items: center; justify-content: center;">4</div>
            </div>
            <div class="col-9">
              <p class="text-black" style="font-size:19px;font-weight:bold;">Transform</p>
              <p class="text-black" style="font-size:18px;">Transform your life through wellness, positivity, and meaningful connections</p>
            </div>
  
            <!-- Circle 5 (Bleu) -->
            <div class="col-3 d-flex justify-content-center align-items-center">
                <div class="rounded-circle text-light text-center p-2 mb-2" style="width: 80px; height: 80px; font-weight: bold; display: flex; align-items: center; justify-content: center;background:#108850;">5</div>
            </div>              
            <div class="col-9">
              <p class="text-black" style="font-size:19px;font-weight:bold;">Impact</p>
              <p class="text-black" style="font-size:18px;">Make a lasting impact by contributing to the well-being of others and the community.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
</section>

{% endblock %}

{% block history_about %}

<section class="section-padding section-bg" id="section_2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="custom-text-box">
          <h2 class="mb-2">Our Story</h2>

          <h5 class="mb-3">Save Your Life, Non-Profit Organization</h5>

          <p class="mb-0" style="font-size: 18px;">
            Since our inception on June 29, 2023, in Melbourne, Save Your Life has been committed to making a meaningful impact on people's lives worldwide. Our story is shaped by a steadfast dedication to transforming lives morally, financially, and personally.
          </p>
        </div>
      </div>

      <div class="col-lg-6 col-12 mb-5 mb-lg-0">
        <img
          src="{% static 'images/abouts.jpg' %}"
          class="custom-text-box-image img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block barner1_about%}

<div class="jumbotron jumbotron-fluid text-white text-center mb-4" style="background:#8AD48A;">
    <section class="bsb-hero-2 px-3">
  <div class="container overflow-hidden">
    <div class="row gy-3 gy-lg-0 align-items-lg-center justify-content-lg-between">
      <div class="col-12 col-lg-6 order-1 order-lg-0">
        <h1 class="display-3 fw-bold mb-3" style="font-size: 3rem;">Empower Change</h1>
        <p class="fs-4 mb-5">Your donation has the power to transform lives. Join us in our mission to create positive change, support communities, and bring hope to those in need. Every contribution, no matter the size, plays a crucial role in building a brighter future. Empower change with your generosity today.</p>
      </div>
      <div class="col-12 col-lg-5 text-center">
        <img class="img-fluid" loading="lazy" src="{% static 'images/don.jpg' %}" alt="">
      </div>
    </div>
  </div>
    </section>
</div>

{% endblock %}

{% block describe %}

<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img class="img-fluid rounded" loading="lazy" src="{% static 'images/wear.jpg' %}" alt="">
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="h1 mb-3">Who Are We?</h2>
            <p class="lead fs-4 text-secondary mb-3">At Save Your Life, we are more than an organization; we are a community dedicated to the transformation of lives. Our mission extends beyond borders, focusing on the physical, emotional, and mental well-being of individuals and communities.</p>
            <div class="row gy-4 gy-md-0 gx-xxl-5X">
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                      <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                    </svg>
                  </div>
                  <div>
                    <h4 class="mb-3">Our Founding Story</h4>
                    <p class="text-secondary mb-0">Every organization has a beginning, and ours is rooted in a commitment to bring hope.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="d-flex">
                  <div class="me-4 text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
                      <path d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
                    </svg>
                  </div>
                  <div>
                    <h4 class="mb-3">Meet Our Team</h4>
                    <p class="text-secondary mb-0">Behind Save Your Life is a dedicated team of individuals driven .</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block barner2_about%}

<section class="bsb-cta-2">
  <div class="container">
    <div class="card border-0 rounded-3 overflow-hidden text-center bsb-overlay" style="background-image: url('/static/images/barners.jpg'); --bsb-overlay-opacity: .9; --bsb-overlay-bg-color:var(--bs-primary-rgb);">
      <div class="card-body">
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-md-10 col-xl-8 col-xxl-7">
            <h2 class="h5 mb-4 text-white text-uppercase">Empowering Lives, Expert Solutions</h2>
            <h3 class="display-4 text-white mb-5">Discover the synergy of our services and expertise – a harmonious blend dedicated to empowering lives.</h3>
            <a href="#!" class="btn btn-light bsb-btn-3xl rounded mb-0 text-nowrap">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block choose_us %} 

<!-- About 2 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded" loading="lazy" src="https://img.freepik.com/photos-gratuite/groupe-personnes-preparant-plan-affaires-dans-bureau_1303-15861.jpg?w=996&t=st=1702459909~exp=1702460509~hmac=ca44a7873678ea91a6c13e26274cf9c9acfefa6bcafc50c32768cf7ffa751c36" alt="">
      </div>
      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-10">
            <h2 class="h1 mb-3">Why Choose Us?</h2>
            <p class="lead fs-4 mb-3 mb-xl-5">Choosing Save Your Life means choosing excellence, positive impact, and significant transformation. We are more than an organization; we are a community committed to physical, emotional, and mental well-being.</p>
            <div class="d-flex align-items-center mb-3">
              <div class="me-3 text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0">Commitment to Positive Impact.</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <div class="me-3 text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0">Compassion-Driven Expertise.</p>
              </div>
            </div>
            <div class="d-flex align-items-center mb-4 mb-xl-5">
              <div class="me-3 text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
              </div>
              <div>
                <p class="fs-5 m-0">Global Community of Evolution</p>
              </div>
            </div>
            <button type="button" class="btn bsb-btn-2xl btn-outline-primary rounded-pill">Connect Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block main_object %}

<section class="bg-primary">
  <div class="container-fluid overflow-hidden">
    <div class="row">
      <div class="col-12 col-md-6 order-1 order-md-0 align-self-md-end">
        <div class="row py-3 py-sm-5 py-xl-9 mt-md-10 justify-content-sm-center">
          <div class="col-12 col-sm-10">
            <h1 class="display-2 fw-bolder mb-4 text-white">Our Offerings</h1>
            <div class="row">
              <div class="col-12 col-xxl-8">
                <p class="fs-5 mb-5 text-white">At Save Your Life, our offerings go beyond services – they are pathways to positive change. We provide a spectrum of transformative solutions designed to empower lives, support communities, and foster hope.</p>
              </div>
            </div>
            <div class="d-grid gap-2 d-sm-flex">
              <button type="button" class="btn btn-warning bsb-btn-3xl rounded-pill">Explore Now</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 p-0">
        <img class="img-fluid w-100 h-100 object-fit-cover" loading="lazy" src="{% static 'images/offer.jpg' %}" alt="">
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block objectifs %}

<section class="bg-light py-3 py-md-5 py-xl-8">
  <div class="container overflow-hidden">
    <div class="row gy-4 gy-md-5 gy-lg-0 align-items-center">
      <div class="col-12 col-lg-5">
        <div class="row">
          <div class="col-12 col-xl-11">
            <h2 class="fs-6 text-secondary mb-3 mb-xl-4 text-uppercase">What We Do ?</h2>
            <h3 class="display-5 mb-3 mb-xl-4">Our Mission</h3>
            <p class="mb-3 mb-xl-4">At Save Your Life, our mission is clear: to create positive transformation in lives and communities. Through a dedicated commitment to well-being and support, we strive to make a meaningful impact that resonates with compassion and purpose.</p>
            <a href="#!" class="btn bsb-btn-3xl btn-primary rounded-pill">More Details</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-7 overflow-hidden">
        <div class="row gy-4">
          <div class="col-12 col-sm-6">
            <div class="card border-0 border-bottom border-primary shadow-sm">
              <div class="card-body text-center p-4 p-xxl-5">
                <h4 class="mb-4">Community Empowerment</h4>
                <a href="#!" class="fw-bold text-decoration-none link-primary">
                  Learn More
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="card border-0 border-bottom border-primary shadow-sm">
              <div class="card-body text-center p-4 p-xxl-5">
                <h4 class="mb-4">Child Welfare and Education</h4>
                <a href="#!" class="fw-bold text-decoration-none link-primary">
                  Learn More
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="card border-0 border-bottom border-primary shadow-sm">
              <div class="card-body text-center p-4 p-xxl-5">
                <h4 class="mb-4">Health,Wellness Initiatives</h4>
                <a href="#!" class="fw-bold text-decoration-none link-primary">
                  Learn More
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="card border-0 border-bottom border-primary shadow-sm">
              <div class="card-body text-center p-4 p-xxl-5">
                <h4 class="mb-4">Global Advocacy for Change</h4>
                <a href="#!" class="fw-bold text-decoration-none link-primary">
                  Learn More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block stat %}

<section class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h3 class="fs-6 text-secondary mb-2 text-uppercase text-center">Our Impact in Numbers</h3>
        <h2 class="mb-4 display-5 text-center">Explore the tangible outcomes of our efforts.</h2>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row gy-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid rounded" loading="lazy" src="{% static 'images/stat.jpg' %}" alt="">
      </div>

      <div class="col-12 col-lg-6">
        <div class="row justify-content-xl-end">
          <div class="col-12 col-xl-11">
            <div class="row gy-4 gy-sm-0 overflow-hidden">
              <div class="col-12 col-sm-6">
                <div class="card border-0 border-bottom border-primary shadow-sm mb-4">
                  <div class="card-body text-center p-4 p-xxl-5">
                    <h6 style="font-size:60px;" class="display-2 fw-bold mb-2">10</h6>
                    <p class="fs-8 mb-0 text-secondary">Finished Projects</p>
                  </div>
                </div>
                <div class="card border-0 border-bottom border-primary shadow-sm">
                  <div class="card-body text-center p-4 p-xxl-5">
                    <h6 style="font-size:60px;" class="display-2 fw-bold mb-2">25</h6>
                    <p class="fs-8 mb-0 text-secondary">Issues Solved</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="card border-0 border-bottom border-primary shadow-sm mt-lg-6 mt-xxl-8 mb-4">
                  <div class="card-body text-center p-4 p-xxl-5">
                    <h3 style="font-size:60px;" class="display-2 fw-bold mb-2">2k+</h3>
                    <p class="fs-8 mb-0 text-secondary">Happy Customers</p>
                  </div>
                </div>
                <div class="card border-0 border-bottom border-primary shadow-sm">
                  <div class="card-body text-center p-4 p-xxl-5">
                    <h3 style="font-size:60px;" class="display-2 fw-bold mb-2">07</h3>
                    <p class="fs-8 mb-0 text-secondary">Awwwards</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block members %}

<section class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row gy-5 gy-lg-0 align-items-center">
      <div class="col-12 col-lg-4">
        <h2 class="display-5 mb-3 mb-xl-4">Our Members</h2>
        <p class="lead mb-4 mb-xl-5">Dive into the heart of our community with 'Our Members.' Each individual is a vital thread weaving the fabric of positive change. Together, we form a dynamic network dedicated to creating impact and fostering a sense of belonging.</p>
        <a href="#!" class="btn bsb-btn-2xl btn-primary rounded-pill">All Members</a>
      </div>
      <div class="col-12 col-lg-8">
        <div class="row justify-content-xl-end">
          <div class="col-12 col-xl-11">
            <div class="row gy-4">

              <div class="col-12 col-md-6">
                <div class="card border-0 border-bottom border-primary shadow-sm" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                  <div class="card-body p-4">
                    <div>
                      <img style="width: 150px;height:150px;" class="img-fluid mb-4" loading="lazy" src="{% static 'images/me1.jpg' %}" alt="">
                      <div>
                        <h4 class="mb-2">Diallo Aristide</h4>
                        <h5 class="fs-6 text-secondary mb-0">Economist</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="card border-0 border-bottom border-primary shadow-sm" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                  <div class="card-body p-4">
                    <div>
                      <img style="width: 150px;height:150px;" class="img-fluid mb-4" loading="lazy" src="{% static 'images/m3.jpg' %}" alt="">
                      <div>
                        <h4 class="mb-2">Wilson Dey</h4>
                        <h5 class="fs-6 text-secondary mb-0">Student</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="card border-0 border-bottom border-primary shadow-sm" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                  <div class="card-body p-4">
                    <div>
                      <img style="width: 150px;height:150px;" class="img-fluid mb-4" loading="lazy" src="{% static 'images/m4.jpg' %}" alt="">
                      <div>
                        <h4 class="mb-2">Angevine Sao</h4>
                        <h5 class="fs-6 text-secondary mb-0">SEO Expert</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="card border-0 border-bottom border-primary shadow-sm" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                  <div class="card-body p-4">
                    <div>
                      <img style="width: 150px;height:150px;" class="img-fluid mb-4" loading="lazy" src="{% static 'images/m2.jpg' %}" alt="">
                      <div>
                        <h4 class="mb-2">Blandine Nassa</h4>
                        <h5 class="fs-6 text-secondary mb-0">Logistic Expert</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block thrusted %}

<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h3 class="fs-6 text-secondary mb-2 text-uppercase text-center">Trusted by Many</h3>
        <h2 class="mb-4 display-5 text-center">A Network of Confidence.</h2>
        <p class="fs-5 text-secondary mb-5 text-center">Join the multitude who place their trust in us. Our commitment to integrity, transparency, and impactful change has earned us the confidence of a diverse community. Discover why so many individuals and partners choose to stand with Save Your Life on our journey towards a brighter future.</p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
      </div>
    </div>
  </div>

  <div class="container overflow-hidden">
    <div class="row gy-4">
      
      <div class="col-6 col-md-4 col-xl-3 text-center">
        <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img style="width:100px;" src="{% static 'icons/monde.png' %}" alt="">
        </div>
      </div>

      <div class="col-6 col-md-4 col-xl-3 text-center">
        <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img style="width:100px;" src="{% static 'icons/croix-rouge.png' %}" alt="">
        </div>
      </div>

      <div class="col-6 col-md-4 col-xl-3 text-center">
        <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img style="width:100px;" src="{% static 'icons/cathedrale-de-saint-sava.png' %}" alt="">
        </div>
      </div>

      <div class="col-6 col-md-4 col-xl-3 text-center">
        <div class="text-secondary bg-light px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
          <img style="width:100px;" src="{% static 'icons/humanitarian-help.png' %}" alt="">
        </div>
      </div>
    </div>
    
  </div>
</section>

{% endblock %}