{% extends '../base.html' %}

{% load static %}


{% block header_news %} 

<div class="container-news">
    <h2 class="title-news">Our News</h2>
    <h2 class="title-news title-large-news">Our News</h2>
    <div id="img-1" class="img-container-news">   
      <img class="img" src="https://img.freepik.com/free-photo/medium-shot-male-flight-attendant-posing_23-2150312703.jpg?w=740&t=st=1705055725~exp=1705056325~hmac=530c64e9f20fef4985b522fc7d046a5a661b220ee92a4bb2c39fcbf47cd1230b">
    </div>
    
    <div class="img-container-news second-animation-news">    
      
    </div>
    
    <div class="img-container-news third-animation-news">    
      <img class="img" src="https://img.freepik.com/free-photo/front-view-formal-male-journalist_23-2149029386.jpg?w=740&t=st=1705055518~exp=1705056118~hmac=842dcaba099088f62f2e83ecf5325bf1c088fe3b48515eaef483b60c9511d5c6">
    </div>
    
    <div class="img-container-news fourth-animation-news">    
      
    </div>
  
    <div class="img-container-news fifth-animation-news">    
      <img class="img" src="https://img.freepik.com/free-photo/woman-with-curly-hair-holds-electronic-pen-tablet-creats-web-content-via-media-application-touch-pad-searches-website-online-chatting_273609-55146.jpg?w=740&t=st=1705055730~exp=1705056330~hmac=a15879650d400b6750a84ebb85222b8a09237c48305f8849f9074ad2baab149d">
    </div>  
    
    <div id="img-6" class="img-container-news sixth-animation-news">    
      
    </div>  
      
    <div id="img-7" class="img-container-news seventh-animation-news">    
      <img class="img" src="https://img.freepik.com/free-photo/businesswoman-with-tablet-pc-smiling-camera_74855-3983.jpg?w=740&t=st=1705055545~exp=1705056145~hmac=a4682e8547e7ef885de54bd1340cb0e80c6d949c2ea5a4616f4b45aa3df4d65f">
    </div>
</div>

{% endblock %}